body {
  margin: 0;
  padding: 0;
  background: url("./images/background-desktop.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (width < 800px) {
  body {
    background: url("./images/backgroundmobile.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .header-container {
    margin: 0;
  }
  .header-container h1 {
    padding: 12px;
    margin-bottom: 150px;
    text-align: center;
  }
  .stylelist {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .styles {
    padding: 6px;
  }
  .styles img {
    width: 250px;
  }
}
